* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

/* Fondo de inicio y medidas */
#container-principal {
    background-image: url("img/fondo-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */
.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.39) 68%, rgba(102, 102, 102, 0) 100%);
}

.navbar-nav .nav-item .nav-link {
    color: white;
    padding: 5px 20px !important;
    font-family: "Montserrat";
    font-weight: 200;
}

.active {
    color: white !important;
    font-weight: 600 !important;
}

/* Apartado de Platos */
#container-info {
    background-image: url("img/fondo-secundario.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.contenedor-titulo-platos {
    color: white;
    font-family: "Montagu Slab";
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

#plato {
    border-radius: 25px !important;
    background-color: rgb(0, 164, 77) !important;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5) !important;
}

.card-img-top {
    max-height: 12.5rem !important;
    border-radius: 25px 25px 0 0 !important;
}

#nombre-plato {
    color: white;
    font-family: "Montagu Slab";
    font-size: 1.25rem;
    font-weight: 900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ingredientes-plato {
    color: rgb(240, 240, 240);
    font-family: "Montserrat";
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#precio-plato {
    color: rgb(255, 215, 0);
    font-family: "Montserrat";
    font-size: 0.625rem;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Contactanos */
#container-contacto {
    background-image: url("img/fondo-contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8.625rem;
    width: 100%;
}

#form-contacto {
    background-color: rgb(10, 10, 10, 0.8);
    border-radius: 25px;
}

#titulo-contacto {
    color: white;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 900;
}

#subtitulo-contacto {
    color: white;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 100;
}

#input-contacto input {
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(0, 0, 0, 0.8);
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-weight: 400;
    border-radius: 0.375rem;
}

/* Botones */
.btn-success {
    background-color: rgb(0, 164, 77) !important;
    color: white !important;
    padding: 0.938rem 1.25rem !important;
    border: none !important;
    border-radius: 0.375rem !important;
    font-family: "Montserrat" !important;
    font-weight: 850 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.btn-success:hover {
    background-color: rgb(22, 75, 34) !important;
}

.btn-danger {
    background-color: rgb(240, 26, 36) !important;
    color: white !important;
    border: none !important;
    border-radius: 0.375rem !important;
    padding: 0.938rem 1.25rem !important;
    font-family: "Montserrat" !important;
    font-size: 18px !important;
    font-weight: 850 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.btn-danger:hover {
    background-color: rgb(184, 23, 31) !important;
}

.btn-compra {
    background-color: rgb(240, 26, 36) !important;
    color: white !important;
    font-family: "Montserrat" !important;
    font-size: 0.625rem !important;
    font-weight: 850 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.btn-compra:hover {
    background-color: rgb(184, 23, 31) !important;
}